*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
body {
    margin: 0px;
    padding: 0px;
    

}

.nav-bar{
    top: 0px;
    position: sticky;
    width: 100%;
    height: 15vh;
    border-bottom: 1px solid rgb(232, 214, 214);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
    justify-content: space-between;
    background-color: rgb(46,63,153);
  
}

.right-side{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 50px;
}

.right-side li {
    margin: 15px;
    color: white;
    font-size: 15px;
    
}

.right-side li:hover {
    color: rgb(28,247,251);
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    text-decoration: underline;
}

.nav-bar p {
    color: white;
    font-size: larger;
    font-weight: 500px;

}
@keyframes typing {
    0% { width: 0; }
    100% { width: 10ch; } /* Adjust for text length */
  }

.nav-bar strong {
    color: rgb(44,188,188);
    animation: typing 3s steps(20, end) infinite;
}

.main-section{
    height: 150vh;
    width: 100%;
}

.slider {
    width: 100%;
    height: 60vh;
    background-image: url(../images/360_F_264922838_NErJEovZiP9MTa49apqL1Vs3f88ZT8Dg.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
}

.slider h2 {
    color: white;
    padding: 85px;
    padding-bottom: 10px;
    font-size: 40px;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
}


.slider p {
    width: 600px;
    padding-left: 82px;

}

.slider-buttons {
    padding-left: 82px ;
    margin-top: 10px;
}

.slider-buttons button {
    padding: 15px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(46,63,153);
    color: white;
    margin-right: 30px;
    cursor: pointer;
}

.slider-buttons button :nth-last-child(){
    width: 200px;
}

.footer {
    
    bottom: 0px;
    height: 40vh;
    width: 100%;
    background-color: rgb(46,63,153);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.footer li {
    list-style: none;
    color: white;
    line-height: 30px;
}
.footer strong {
    color: rgb(28,247,251);
    font-weight: 80px;
    font-size: 20px;

}

footer li:hover {
    color: rgb(28,247,251);
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}


.grid-1 img {
    width: 210px;
    height: 200px;
}

.grid-1 p {
    width: 210px;
    margin-top: 10px;
    text-align: justify;

}

.product-crousel {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 10px;
}

.product-des  button {
    padding: 10px;
    margin-top: 10px;
    background-color:  rgb(46,63,153);
    border-style: none;
    width: 101px;
    color: white;
    border-radius: 15px;
}

.grid-1 {
    
    width: 210px;
    height: 75vh;
    border: 1px solid rgb(230, 220, 220);
    border-radius: 10px;

    
}

.mobile-nav {
    display: none;
}


@media (max-width: 480px) {
    body {
      font-size: 16px;
    }

    .mobile-nav {
        display: flex;
        color: white;
        flex-direction: column;
        list-style: none;
        margin-top: 50px;
        width: 200px;
        height: 60vh;
        padding-top: 55px;
        margin-right: 0px;
        align-items: center;
        background-color:  rgb(46,63,153);

    }

    .mobile-nav li {
        line-height:25px;
        border: 1px solid rgb(168, 168, 168);
        width: 200px;
        padding: 20px;
        overflow: hidden;
    }
    .right-side{
        display: none;
    }

    .nav-bar {
        padding-right: 0px;
    }
  }
